<!-- <navbar></navbar> -->
<div class="card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">PERFIL</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <span><strong> Mariana </strong></span>
      <span><strong> Paredes </strong></span><br>
      <span>Junior FullStack</span>
      <br>
      <span>DNI N° 35.546.854</span>
      <span>Córdoba, Argentina</span>
      <span>DNI N° 35.546.854</span>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>