<div>
  <picture class="container">
    <img src="assets/images/LogoColor.png" class="rounded mx-auto d-block" alt="Responsive image">
  </picture>

  <div class="container texto-busqueda">
    <picture>
      <img src="" alt="">
    </picture>
    <h1>BUSQUEDA DE PERFILES</h1>
    <h2>Encontrá al profesional que estás buscando.</h2>
  </div>
  <mat-form-field appearance="outline" class=" container input-busqueda">
    <mat-label>Buscar Perfil</mat-label>
    <input matInput type="text" placeholder="">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
