<!-- <navbar></navbar> -->
<div class="card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">PERFIL</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <span><strong> Mariana </strong></span>
      <span><strong> Paredes </strong></span>
      <span>Junior FullStack</span>
      <br>
      <span>Córdoba, Argentina</span>
      <span>25 años</span>
      <span>Posibilidad de Trasladarse: Sí</span><br>
      <span><strong>Experiencia Laboral</strong></span>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><br>
      <span><strong>Intereses</strong></span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</span><br>
      <span><strong>Educación</strong></span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</span><br>
      <span><strong>Descripción Personal</strong></span>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span><br>
      <span><strong>Intereses</strong></span>
      <a href="#" class="card-link">https://linkedin.com/in/mariana-paredes-427b6b54/</a>
    </div>
    <button mat-stroked-button color="primary" routerLink="/">atras</button>
  </div>

