<div class="filtro-busqueda">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 select-area">
      <mat-form-field>
        <mat-label>Area</mat-label>
        <mat-select>
          <mat-option *ngFor="let area of area" [value]="area.value">
            {{area.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 col-lg-4 select-seniority">
      <mat-form-field>
        <mat-label>Seniority</mat-label>
        <mat-select>
          <mat-option *ngFor="let seniority of senioritys" [value]="seniority.value">
            {{seniority.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 col-lg-4 select-ubicacion">
      <mat-form-field>
        <mat-label>ubicacion</mat-label>
        <mat-select>
          <mat-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.value">
            {{ubicacion.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
