<div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <select id="inputState" class="form-control filtro">
              <option selected>Área</option>
              <option>Frontend</option>
              <option>Backend</option>
              <option>UX/UI</option>
              <option>Marketing</option>
            </select>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <select id="inputState" class="form-control filtro">
              <option selected>Seniority</option>
              <option>Trainee</option>
              <option>Junior</option>
              <option>Semi Senior</option>
              <option>Senior</option>
            </select>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <select id="inputState" class="form-control filtro">
              <option selected>Ubicación Geográfica</option>
              <option value="">Córdoba</option>
              <option>Bs As</option>
              <option>Santa Fe</option>
            </select>
          </div>
        </div>
      </div>
