<div class=" espacio-result container">
  <mat-list>
    <mat-list-item>
      <div class="row tabla-perfiles">
        <div class="col-md-2">
          <img src="assets/images/mariana.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nombre</h5>
            <p class="card-text">Area,Seniority</p>
          </div>
        </div>
        <div class="col-md-2">
          <div  class="boton-perfil">
            <button mat-stroked-button color="primary" routerLink="/perfil">Ver Perfil</button>
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
