.espacio-result{
  margin-top:50px;
}
.tabla-perfiles{
  width: 100%;
  background-color: rgba(231, 224, 224, 0.815);
}
.boton-perfil{
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-body{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.card-img{
  padding: 10px;
  padding-left: 30px;
}




