
<div class=" espacio-result container">
		<h3 class="ti-Resul">Resultados</h3>
		<div class="card-body row">
			<div class="col-4 colum-perf">
					<img class="avatar-perfil" src="assets/images/mariana.png" alt="">
			</div>
				
			<div class="col-4 colum-perf text-center">
				<h5 class="card-title">Mariana Paredes</h5>
				<p class="card-text">Córdoba, Argentina. Full Stack Developer.</p>
			</div>
			<div class="col-4 colum-perf text-center">
				<a routerLink="/perfil" class="btn btn-dark">Ir a perfil</a>
			</div>
		</div>
		<div class="card-body row">
				<div class="col-4 colum-perf">
						<img class="avatar-perfil" src="assets/images/mariana.png" alt="">
				</div>
					
				<div class="col-4 colum-perf text-center">
					<h5 class="card-title">Mariana Paredes</h5>
					<p class="card-text">Córdoba, Argentina. Full Stack Developer.</p>
				</div>
				<div class="col-4 colum-perf text-center">
					<a routerLink="/perfil" class="btn btn-dark">Ir a perfil</a>
				</div>
			</div>
			<div class="card-body row">
					<div class="col-4 colum-perf">
							<img class="avatar-perfil" src="assets/images/mariana.png" alt="">
					</div>
						
					<div class="col-4 colum-perf text-center">
						<h5 class="card-title">Mariana Paredes</h5>
						<p class="card-text">Córdoba, Argentina. Full Stack Developer.</p>
					</div>
					<div class="col-4 colum-perf text-center">
						<a routerLink="/perfil" class="btn btn-dark">Ir a perfil</a>
					</div>
				</div>
	</div>