.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  span {
    display: block;
  }
  
  mat-form-field {
    display: flex;
  }